.section>.container>.section-title>h2{padding:0;margin:0;margin-bottom:15px;position:relative;display:block;line-height:normal}
@media (min-width: 768px) {
.section>.container>.section-title>h2:before,.section>.container>.section-title>h2:after{content:"";height:2px;width:50%;background:#222327;top:50%;z-index:-1;position:absolute}
.section>.container>.section-title>h2:before{left:0}
.section>.container>.section-title>h2:after{right:0}
}
@media (max-width: 767px) {
.section>.container>.section-title>h2{margin-bottom:10px}
}
.section>.container>.section-title>h2 a,.section>.container>.section-title>h2 span{display:inline-block;border-radius:20px;background:#000000;padding:10.5px 20px;margin:0;font-size:16px;color:#FFF;font-weight:600;text-transform:uppercase}
@media (max-width: 767px) {
.section>.container>.section-title>h2 a,.section>.container>.section-title>h2 span{border-radius:5px;font-size:14px}
}
.section>.container>.section-title>p{font-style:italic;color:#333}
.product-box{border:1px #ebebeb solid;border-radius:15px;overflow:hidden;margin-bottom:30px}
@media (max-width: 767px) {
.product-box{margin-bottom:15px}
}
@media (max-width: 575px) {
.product-box{border-radius:10px}
}
.product-mini-item{padding:15px 0}
.product-mini-item .product-img{border:1px #ebebeb solid}
.product-mini-item .product-info h3{font-weight:600}
@media (max-width: 767px) {
.products-view-grid>.row{margin-right:-7.5px;margin-left:-7.5px}
.products-view-grid>.row>div{padding-right:7.5px;padding-left:7.5px}
}
.product-box-theme{border-radius:0;transition:opacity 0.3s,transform 0.3s,background-color .3s;background-color:#fff}
.product-box-theme .wishlist_area{position:absolute;top:10px;right:10px;opacity:0;transition:opacity .5s,transform .3s,max-height .6s,filter .6s}
.product-box-theme .wishlist_area a{color:silver;cursor:pointer;font-weight:bolder;transition:transform .3s,border .5s,background .2s,box-shadow .3s,opacity .3s,color .3s;text-rendering:optimizeLegibility;box-sizing:border-box;border:2px solid currentColor;background-color:transparent;object-fit:cover;border-radius:50%;padding:0 11px;line-height:40px;margin:0}
.product-box-theme .wishlist_area a:hover{border:2px solid #000000;color:#FFF}
.product-box-theme .quickview_area{position:absolute;bottom:0;width:100%;opacity:0;transform:translateY(100%) translateZ(0);transition:opacity .5s,transform .3s,max-height .6s,filter .6s}
.product-box-theme .quickview_area a{display:block;border-radius:0;border:none;text-transform:uppercase;font-weight:600;color:#f1f1f1;background:#000000}
.product-box-theme .quickview_area a:hover{color:#fff}
.product-box-theme .price-box{margin-top:5px;margin-bottom:10px}
.product-box-theme .product-name{margin-bottom:5px;min-height:42px}
.product-box-theme .btn{font-weight:600;border:2px solid #000000;line-height:36px;background:#fff;color:#000000}
.product-box-theme .btn:hover{background:#000000;color:#FFF}
.product-box-theme .product-info{text-align:center}
.product-box-theme:hover .wishlist_area{opacity:1}
.product-box-theme:hover .quickview_area{opacity:1;transform:translateY(0) translateZ(0)}
.section_collection_tab ul.tabs.tabs-title{right:auto;position:initial}
.section_collection_tab .product-box-theme{border:1px solid #ebebeb}
@media (min-width: 768px) {
.section_collection_tab .product-box-theme .product-info{text-align:right}
}
@media (max-width: 768px) {
.section_collection_tab .product-box-theme{magrin-bottom:15px}
}
.section_collection_tab .product-box-theme .quickview_area{width:auto;left:0!important;bottom:calc(0%)!important;transform:translateY(50%) translateX(-50%) translateZ(0);-webkit-transition:width .35s ease-in-out;transition:width .35s ease-in-out}
.section_collection_tab .product-box-theme .quickview_area a{padding:0 13px!important}
.section_collection_tab .product-box-theme:hover .quickview_area{bottom:calc(50%)!important;left:50%!important;transform:translateY(50%) translateX(-50%) translateZ(0)}
@media (min-width: 1200px) {
.section_collection_tab .tab-content .products>.row>div:nth-child(3n+1){clear:left}
}
@media (max-width: 1199px) {
.section_collection_tab .tab-content .products>.row>div:nth-child(2n+1){clear:left}
}
@media (max-width: 767px) {
.section_collection_tab .tab-content .products>.row>div{padding-right:7.5px;padding-left:7.5px}
}
@media (min-width: 1200px) {
.section_collection_tab .tab-content .products.row>div:nth-child(3n+1){clear:left}
}
@media (max-width: 1199px) {
.section_collection_tab .tab-content .products.row>div:nth-child(2n+1){clear:left}
}
@media (max-width: 767px) {
.section_collection_tab .tab-content .products.row>div{padding-right:7.5px;padding-left:7.5px}
}
@media (min-width: 768px) {
.section_collection_tab .product-box-theme form{display:table;width:100%;min-height:158px}
.section_collection_tab .product-box-theme .product-thumbnail{direction:ltr;display:table-cell;vertical-align:middle;width:50%}
.section_collection_tab .product-box-theme .product-thumbnail.flexbox-grid>a{height:166px}
.section_collection_tab .product-box-theme .product-info{direction:ltr;display:table-cell;vertical-align:middle;padding-left:1.5em;padding-right:1.5em}
}
.section_collection_tab_sidebar .sidebar{margin:10px 0}
.section_collection_tab_sidebar .sidebar h2{display:block;border-radius:0!important;padding:9px 15px!important}
.section_collection_tab_sidebar .sidebar .banner img{width:100%}
@media (min-width: 768px) and (max-width: 991px) {
.section_collection_tab_sidebar .sidebar{display:table}
.section_collection_tab_sidebar .sidebar>h2{display:table-caption;margin:0 15px!important}
.section_collection_tab_sidebar .sidebar ul.tabs.tabs-title{display:table-cell}
.section_collection_tab_sidebar .sidebar>div{display:table-cell;width:32%}
}
@media (min-width: 768px) {
.section_collection_tab_sidebar ul.tabs.tabs-title{right:auto;position:initial;border:1px #ebebeb solid;display:block;text-align:left}
.section_collection_tab_sidebar ul.tabs.tabs-title li{display:block;margin:0 20px!important;}
.section_collection_tab_sidebar ul.tabs.tabs-title li:first-child{border-top:none}
.section_collection_tab_sidebar ul.tabs.tabs-title li:before{content:none!important}
}
.section_collection_tab_sidebar .product-box-theme{width:100%;float:left;margin-top:10px;margin-bottom:10px;border:1px solid #ebebeb}
.section_collection_tab_sidebar .product-box-theme .product-info{padding:10px}
.breadcrumb li>a>span{color:#333}
.products-view-list .product-box{padding:0;margin-bottom:30px}
.products-view-list .product-box .product-thumbnail{border-radius:15px}
@media (max-width: 575px) {
.products-view-list .product-box .product-thumbnail{border-radius:10px}
}
.products-view-list .product-box .product-info{margin:15px}
@media (min-width: 768px) {
.products-view-list .product-box .product-info{width:calc(100% / 3 * 2 - 45px);margin:15px;margin-left:30px}
}
.pagination{float:none}
.pagination .page-link{border-radius:35px!important;line-height:35px;width:35px;height:35px}
.btn{border-radius:5px}
.form-group .form-control{min-height:40px;background-color:#FFF;border-radius:5px!important;border:1px #ebebeb solid!important}
header.header{box-shadow:0 0 5px 0 rgba(84,84,84,0.15)}
.header-content{padding:0px 0}
@media (min-width: 1200px) {
.header-content{padding:0px 0}
}
.header-content .header-content-search { flex-grow: 1; width: 666px; float: left; padding-bottom: 15px; }
@media (max-width: 1199px) {
.header-content .header-content-search{margin:0 10px}
}

.header-content .header-content-search .header_search .input-group {
    display: flex;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}
.header-content .header-content-search .header_search .input-group .input-group-field{float:left; width:83%; padding-left:7px;flex-grow:1;background:#fff}
.header-content .header-content-search .header_search .input-group .collection-selector{position:relative}
.header-content .header-content-search .header_search .input-group .collection-selector .search_text{padding:0 30px 0 15px;background:rgba(0,0,0,0.03);border-right:1px solid rgba(0,0,0,0.09)}
.header-content .header-content-medium>div{float:right!important;margin-left:10px!important;padding-left:10px!important}
.header-content .header-content-medium>div:before{content:"";height:30px;position:absolute;left:0;top:calc(50% - 15px);z-index:1;border-left:1px solid rgba(0,0,0,0.1)}
.header-content .header-content-medium>div:last-child:before{content:none}
.header-content .header-content-medium .top-cart-contain{padding:0;margin-left:10px}
.header-content .header-content-medium .top-cart-contain .top-cart-content:after{content:'';position:absolute;top:-10px;right:10px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:10px solid #fff}
.header-content .header-content-medium .top-cart-contain .top-cart-content:before{content:'';position:absolute;top:-11px;right:10px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:10px solid #ddd}
.header-content .header-content-medium .icons{background:#fff;border-radius:50%;border:1px solid #999;line-height:35px;color:#999;display:inline-block;min-width:37px}
.header-content .header-content-medium .header-acount{position:relative}
.header-content .header-content-medium .header-acount .drop-down{display:block;-webkit-transform:translateY(50px);-ms-transform:translateY(50px);-o-transform:translateY(50px);transform:translateY(50px);opacity:0;min-width:200px;filter:alpha(opacity=0);-webkit-transition:all .3s ease 0;-o-transition:all .3s ease 0;transition:all .3s ease 0;visibility:hidden;position:absolute;right:0;left:auto;background:#fff;padding:0;text-align:left;box-shadow:0 0 15px -5px rgba(0,0,0,0.4);z-index:10000}
.header-content .header-content-medium .header-acount .drop-down:after{content:'';position:absolute;top:-10px;right:10px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:10px solid #fff}
.header-content .header-content-medium .header-acount .drop-down:before{content:'';position:absolute;top:-11px;right:10px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:10px solid #ddd}
.header-content .header-content-medium .header-acount .drop-down ul li{padding:5px 10px;border-bottom:1px solid #ededed}
.header-content .header-content-medium .header-acount:hover .drop-down{display:block;top:100%;visibility:visible;opacity:1;filter:alpha(opacity=1);-webkit-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
.verticalmenu{border:1px solid #dadada}
.verticalmenu .vertical-nav{background:#000}
.verticalmenu .vertical-nav>.nav-item{padding-left:48px}
.verticalmenu .vertical-nav>.nav-item>a.nav-link{margin-right:30px;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden}
.verticalmenu .vertical-nav .nav-item{float:none;border-top:1px solid rgba(0,0,0,0.15);position:relative}
.verticalmenu .vertical-nav .nav-item .icon{position:absolute;top:0;left:0;width:43px;height:43px;display:flex;justify-content:center;align-items:center}
.verticalmenu .vertical-nav .nav-item a.nav-link{padding:10px 0;margin-right:30px;border:none;font-family:"Roboto","HelveticaNeue","Helvetica Neue",sans-serif}
.verticalmenu .vertical-nav .nav-item a.nav-link:hover{background:none;color:#000000}
.verticalmenu .vertical-nav .nav-item i.fa{position:absolute;top:0;right:0;width:43px;line-height:43px;text-align:center}
.verticalmenu .vertical-nav .nav-item>.dropdown-menu{left:calc(100%)!important;border:0}
.verticalmenu .vertical-nav .nav-item.active>.dropdown-menu{display:block!important;float:none}
@media (min-width: 992px) {
.verticalmenu .vertical-nav .nav-item:first-child{border-top:0 solid rgba(0,0,0,0.15)}
.verticalmenu .vertical-nav .nav-item:hover{background:#f5f5f5}
.verticalmenu .vertical-nav .nav-item:after{content:"";position:absolute;top:0;right:0;width:43px;height:43px;line-height:43px;text-align:center}
}
.verticalmenu .vertical-nav .dropdown-menu{margin-top:0}
header.header .social-icons{text-align:right}
header.header .social-icons a{color:#999;font-weight:600;margin:4px}
header.header .social-icons a:hover{color:#000000}
.header_search .site-header-inner{position:relative;margin-bottom:12px}
.header_search .site-header-inner:before{content:" ";display:table}
.header_search .site-header-inner:after{content:" ";display:table;clear:both}
.header_search .site-header form{max-width:672px;width:672px;margin-bottom:10px}
.header_search .site-header form input{border:1px solid #ebebeb;padding-left:103px}
.header_search .site-header form button{padding:0 15px;background:#000000;color:#fff;font-size:16px}
.header_search .site-header form button fa{font-size:16px}
.header_search .collection-selector{display:inline-block;min-width:100px;z-index:99;left:0;text-align:right}
.header_search .search_text{height:40px;text-align:left;line-height:42px;cursor:pointer;padding:0 35px 0 17px;width:100%;font-size:14px;border-right:1px solid #ebebeb;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;position:relative}
.header_search .search_text:before{display:inline-block;content:"\f107"!important;font:normal normal normal 14px/1 FontAwesome;width:12px;height:12px;margin-left:2px;vertical-align:middle;content:"";position:absolute;top:16px;right:12px;margin-top:-1px;background-repeat:no-repeat;background-position:center}
.header_search .search_list{display:none;background:#fff;border:1px solid #ccc;background-color:#fff;position:absolute;top:100%;min-width:200px;width:auto;z-index:3;font-weight:400!important;font-family:Roboto,sans-serif;border-radius:0;right:auto;margin-top:4px;margin-left:-2px;font-size:13px;padding:4px 0}
.header_search .list_search{display:none;background:#fff;border:1px solid #ebebeb;background-color:#fff;position:absolute;top:100%;min-width:230px;width:auto;z-index:3;font-weight:400!important;font-family:Roboto,sans-serif;border-radius:0;left:1px;margin-top:0;margin-left:-2px;font-size:13px;padding:4px 0;max-width:320px}
.header_search .list_search .search_item{text-align:left;display:block;padding-left:24px;position:relative;opacity:1;filter:alpha(opacity=100);filter:none;height:auto;line-height:normal;padding:6px 15px;cursor:pointer;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden}
.header_search .liner_search{width:100%;height:1px;background:#efefef;margin:8px 0}
.header_search .list_search .search_item.active,.header_search .list_search .search_item:hover{background-color:#000000;color:#fff!important}
.policy .item-policy{margin:15px 5px}
@media (max-width: 991px) {
.policy .item-policy{margin-bottom:0}
}
.policy .item-policy>a{margin-right:15px}
.policy .item-policy .info a{font-weight:700;font-size:15px}
.policy .item-policy .info p{margin:0}
.top-cart-contain{width:auto}
.top-cart-contain .mini-cart{width:auto}
@media (min-width: 1200px) {
.top-cart-contain .mini-cart .heading-cart>a{height: 34px;display:inline-block;padding:0 10.4px;background:#fff;border-radius:50%;border:1px solid #999;line-height:35px;color:#999}
}
.top-cart-contain .mini-cart .heading-cart>a .icon.f-left.relative{height:auto;margin-right:0;line-height:35px;display:inline-block}
@media (max-width: 1199px) {
.top-cart-contain .mini-cart .heading-cart>a .icon.f-left.relative .fa{font-size:24px}
}
.top-cart-contain .mini-cart .heading-cart .cartCount{right:-15px;top:-10px;background:#000000}
.top-cart-contain .mini-cart .right-content{line-height:normal;white-space:normal;display:inline-block}
.top-cart-contain .mini-cart .right-content .label{display:inline-block;padding:0;color:#FFF}
header nav{padding:0;background:#000000;box-shadow:none}
header nav .nav-menu-main{position:initial}
header nav ul.nav-dt .nav-item{float:left}
header nav ul.nav-dt .nav-item>a{padding:15.5px 8px;font-weight:600;line-height:normal;font-size:16px;color:rgba(255,255,255,0.8)}
header nav ul.nav-dt .nav-item>a:after{content:none}
header nav ul.nav-dt .nav-item:hover>a{color:#FFF}
header nav ul.nav-dt .nav-item:hover>.mega-content,header nav ul.nav-dt .nav-item:hover .dropdown-menu{box-shadow:0 0 15px -5px rgba(0,0,0,0.4)}
header nav ul.nav-dt .nav-item.active>a{color:#FFF}
@media (max-width: 1199px) {
header nav ul.nav-dt .nav>.nav-item>a{padding:15.5px 15px;line-height:30px}
}
@media (max-width: 767px) {
header nav .vertical-menu-home{padding:0}
}
header nav .header-contact ul li{font-size:14px;color:rgba(255,255,255,0.8);overflow:hidden;line-height:17px;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;margin:16px 0;padding:0 8px;border-left:1px solid rgba(255,255,255,0.2)}
header nav .header-contact ul li a{font-weight:700;color:rgba(255,255,255,0.8)}
header nav .header-contact ul li i{font-size:16px}
header nav .header-contact ul li:hover{-webkit-animation:marquee 12s linear infinite;animation:marquee 12s linear infinite}
header nav .header-contact ul li:hover a{color:#fff}
header nav .header-contact ul li:first-child{border:none}
.menu-search .header_search{padding:10px 0;position:relative}
.menu-search .header_search .search-text{border-radius:15px;height:30px;background:#FFF}
.menu-search .header_search .input-group-btn .btn{height:30px;line-height:30px}

@media (max-width: 1199px) {
.footer-inner>.container>.row>div:nth-child(3){clear:left}
}
.footer-widget{color:#FFF}
footer .list-menu li{color:#FFF}
footer .list-menu a{color:#FFF}
footer .list-menu a:hover{color:#000000}
.list-menu-footer li{display:inline-block;padding:0 10px}
.list-menu-footer li a{color:#FFF;font-weight:400}
.list-menu-footer li a:hover{color:#222327}
footer .copyright{background:rgba(0,0,0,0.2);color:#FFF;border:none}
footer .copyright a{color:#FFF}
footer .copyright a:hover{color:#222327}
footer .copyright b{color:#FFF}
footer .list-menu.list-blogs li{padding-left:16px}
footer .list-menu.list-blogs li:before{width:8px;height:8px;border-radius:5px;background:#FFF;top:12px}
footer .list-menu.list-blogs li:hover:before{background:#222327}
footer .site-footer h3{padding:10px 0}
.details-product .details-pro .form-detail-action button.btn{border-radius:5px}
.details-product .details-pro .custom-btn-number{border-radius:5px}
.details-product .details-pro .custom-btn-number .qtyminus{height:44px;line-height:44px;background:#f9f9f9;border-right:1px solid #ebebeb;border-radius:5px 0 0 5px}
.details-product .details-pro .custom-btn-number .qtyminus:hover{background:#f1f1f1}
.details-product .details-pro .custom-btn-number #qty{height:44px;border-radius:5px!important}
.details-product .details-pro .custom-btn-number .qtyplus{height:44px;line-height:44px;background:#f9f9f9;border-left:1px solid #ebebeb;border-radius:0 5px 5px 0}
.details-product .details-pro .custom-btn-number .qtyplus:hover{background:#f1f1f1}
.details-product .details-pro .box-variant .form-group .selector-wrapper select{width:100%;border-radius:5px}
.details-product .social-media a{margin:0 5px;color:#999}
.details-product .social-media label{display:inline-block}
.product-tab>ul{border:none;border-bottom:1px solid #000000}
@media (min-width: 481px) {
.product-tab>ul{margin-bottom:10px}
}
.product-tab .tab-link{border:none;border-radius:0;margin-right:10px}
@media (max-width: 480px) {
.product-tab .tab-link{margin-right:0;margin-bottom:10px;border:1px solid #e1e1e1}
}
.product-tab .tab-link h3{margin:8px 0;font-weight:700;color:rgba(102,102,102,0.85)}
.product-tab .tab-link h3:hover{color:#111}
.product-tab .tab-link.current{background:#000000}
.product-tab .tab-link.current h3{color:#FFF}
.product-tab .tab-link.current h3:before{content:none}
.product-tab .tab-content.current{padding:0;border:0 solid #ebebeb;min-height:100px;border-radius:5px}
.aside-product.aside-vanchuyen{padding:15px 0 0}
.featured-product>.container>div{border-top:1px solid #ececec}
.featured-product .title h2{text-transform:uppercase;line-height:1.2;font-weight:700;font-size:1.25em}
.bizweb-product-reviews-form{min-width:250px!important}
.sortPagiBar #sort-by>ul>li{padding:0 10px;line-height:30px}
.sortPagiBar #sort-by>ul>li:after{content:"\f107";font:normal normal normal 14px/1 FontAwesome;line-height:30px;float:right}
.sortPagiBar .view-mode b{background:none}
.sortPagiBar .view-mode b.active{color:#222327}
.kv-title-head{margin-bottom:15px}
@media (min-width: 768px) {
.kv-title-head{margin-bottom:-33px;margin-right:230px}
}
.blog-list .loop-blog .name-right h3{line-height:18px;margin-bottom:7px;margin-top:0}
.blog-item{margin-bottom:30px}
.blog-item .blog-item-thumbnail{overflow:hidden;text-align:center;position:relative}
.blog-item .blog-item-thumbnail .post-time{position:absolute;top:15px;left:15px;border-radius:50%;width:45px;height:45px;text-align:center;background-color:#000000;font-weight:600;line-height:16px}
.blog-item .blog-item-thumbnail .post-time .ngay{color:#FFF;font-size:18px;margin-top:6px;display:inline-block}
.blog-item .blog-item-thumbnail .post-time .thang{color:#FFF;font-size:14px}
.blog-item .blog-item-info .is-divider{height:3px;display:block;background-color:rgba(0,0,0,0.1);margin:1em 0;width:100%;max-width:30px;margin-top:.5em;margin-bottom:.5em;height:2px}
.article-wraper .form-group .form-control{border-radius:0!important;background:none;border:1px #ebebeb solid!important}
.section_list_blog .blog-list .loop-blog{min-height:66px;overflow:hidden;padding:16px 0}
.section_list_blog .blog-list .loop-blog:first-child{padding-top:0}
.section_list_blog .blog-list .loop-blog:last-child{padding-bottom:0}
.section_list_blog .blog-list .loop-blog .name-right h3{margin:0}
.section_list_blog .blog-list .loop-blog .thumb-left{width:93.5px;max-width:93.5px}
@media (min-width: 992px) {
.blog-list{max-height:380px;overflow:auto}
.blog-list::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);background-color:#F5F5F5}
.blog-list::-webkit-scrollbar{width:4px;background-color:#F5F5F5}
.blog-list::-webkit-scrollbar-thumb{background-color:#000;border:2px solid #e1e1e1}
.left .left-content .col-md-3{border-left:1px solid #e1e1e1}
}
@media (min-width: 768px) {
.blog-main>.row>.col-sm-6:nth-child(2n+1){clear:left}
}
.social-media label{display:inline-block}
.is-divider{height:3px;display:block;background-color:rgba(0,0,0,0.1);margin:1em 0;width:100%;max-width:30px;margin-top:.5em;margin-bottom:.5em;height:2px}
.blogs_name{font-size:14px;font-weight:600}
.blogs_name a{color:#303030}
.home-slider .owl-item{text-align:center}
.home-slider .owl-item img{display:inline-block;width:100%}
@media (min-width: 1200px) {
.home-slider .owl-item .item{height:380px;display:flex;align-items:center;background-color:#f4f4f4}
}
.home-slider .owl-dots{bottom:0;position:absolute}
@media (min-width: 1200px) {
.wrap-slider-section{padding:0;margin-top: 5px !important;}
}
@media (max-width: 991px) {
.wrap-slider-section{margin-top:0!important}
}
@media (max-width: 767px) {
.wrap-slider-section{padding:0}
}
.banner-slider.owl-carousel .owl-item img{width:100%;border-radius:15px}
@media (max-width: 575px) {
.banner-slider.owl-carousel .owl-item img{border-radius:10px}
}
.section .collection-main .section-title{text-align:left}
.section .collection-main .section-title h2{border-radius:20px;background:#000000;padding:9px 20px;margin:0;font-size:15px;color:#FFF;font-weight:600;text-transform:uppercase}
.section .collection-main .section-title h2 span{background:none}
@media (max-width: 767px) {
.section .collection-main .section-title{text-align:center;margin-bottom:5px}
.section .collection-main .section-title h2{border-radius:5px;font-size:14px}
}
.section-collection ul.tabs.tabs-title{border-bottom:1px #ebebeb solid}
@media (max-width: 767px) {
.section-collection ul.tabs.tabs-title{border-bottom:none;position:relative;display:block;text-align:center;margin-bottom:15px}
}
.section_collection_tab_sidebar ul.tabs.tabs-title{background:#FFF}
.section-collection ul.tabs.tabs-title li{font-size:14px;padding:0;margin:0 15px;color:#333;line-height:normal; float:left}
.section-collection ul.tabs.tabs-title li span{margin:10.6px 0;display:inline-block;text-transform: uppercase;
    font-weight: bold;}
@media (max-width: 991px) {
.section-collection ul.tabs.tabs-title li{margin:0 10px}
}
.section-collection ul.tabs.tabs-title li:first-child{margin-left:0}
.section-collection ul.tabs.tabs-title li:last-child{margin-right:0}
.section-collection ul.tabs.tabs-title li:last-child.current:before{left:50%}
.section-collection ul.tabs.tabs-title li.current{color:#000000;font-weight:600}
.section-collection ul.tabs.tabs-title li.current:before{bottom:0;width:calc(100%)!important}
@media (max-width: 767px) {
.section-collection ul.tabs.tabs-title li.current:before{content:none}
}
.section-collection ul.tabs.tabs-title li:after{content:none}
@media (max-width: 767px) {
.section-collection ul.tabs.tabs-title li{margin:0 5px}
.section-collection ul.tabs.tabs-title li.next,.section-collection ul.tabs.tabs-title li.prev{width:40px}
.section-collection ul.tabs.tabs-title li.next i.fa,.section-collection ul.tabs.tabs-title li.prev i.fa{border:1px #ebebeb solid;border-radius:3px;width:16px}
}
.banner-image-col-tab .item a{overflow:hidden;display:block;text-align:center}
.banner-image-col-tab .item a img{border-radius:15px}
@media (max-width: 575px) {
.banner-image-col-tab .item a img{border-radius:10px}
}
.section_blog .section-title{text-align:left}
.section_blog .section-title h2{border-bottom:1px solid #000000}
.section_blog .section-title h2:before{display:none}
.section_blog .section-title h2:after{display:none}
.section_blog .section-title h2 a{display:inline-block;background:#000000;border-radius:0!important;font-size:14px;text-transform:uppercase;padding:10px 15px 6px;color:#fff;margin-bottom:0;font-weight:600;border-bottom:2px solid #222327}
.section_blog .blog-item{border-radius:0;border:none}
.section_blog .blog-item .blog-item-thumbnail{overflow:hidden;padding:0;border-radius:0}
.section_blog .blog-item .blog-item-thumbnail img{display:inline-block;object-fit: cover;}
.section_blog .blog-item .blog-item-info .blog-item-summary{margin-bottom:10px;color:#333;text-align: justify;}
.section_blog .blog-item .blog-item-info .btn{color:#000000;line-height:30px;border-radius:5px;border:2px solid #000000;font-weight:600;background:#FFF}
.section_blog .blog-item .blog-item-info .btn:hover{background:#000000;color:#FFF}
.section_testimonial{background-size:cover;background-position:center;background-repeat:no-repeat;padding:80px 0;position:relative}
.section_testimonial .testimonial-item{color:#FFF}
.section_testimonial .testimonial-item p{font-style:italic!important;font-size:1.3em;margin:20px 0}
.section_testimonial .testimonial-item .name{font-size:14px;color:#FFF}
.section_testimonial .testimonial-item .image-avata{display:inline-block;border-radius:50%;overflow:hidden}
.section_testimonial:before{content:"";background-color:rgba(0,0,0,0.4);position:absolute;top:0;bottom:0;height:100%;left:-1px;right:-1px;transition:transform .3s,opacity .6s;pointer-events:none}
.section-brand .owl-carousel{z-index:0}
.section-brand .brand-item{text-align:center}
.section-brand .brand-item img{display:inline-block}
.section_collection_3_col .container>.d-md-flex{margin-left:-15px;margin-right:-15px}
.section_collection_3_col .container>.d-md-flex .area-col{padding-right:15px;padding-left:15px}
@media (min-width: 768px) {
.section_collection_3_col .container>.d-md-flex .area-col{flex:0 0 33.33333%;max-width:0 0 33.33333%}
}
.section_collection_3_col .container>.d-md-flex .area-col .aside-title .title-head{border-bottom:1px solid #000000}
.section_collection_3_col .container>.d-md-flex .area-col .aside-title .title-head a{display:inline-block;background:#000000;font-size:14px;text-transform:uppercase;padding:10px 15px 6px;color:#fff;margin-bottom:0;font-weight:600;border-bottom:2px solid #222327}
.section_collection_3_col .container>.d-md-flex .area-col .product-mini-item:last-child{border:none}
.section_collection_3_col .container>.d-md-flex .area-col .product-mini-item .product-price{font-weight:600}
.section_collection_3_col .container>.d-md-flex .area-col .product-mini-item .product-info h3 a{font-weight:400}
.aside-item{margin-bottom:30px}
.aside-item .aside-title{background:#000000;padding:6px 15px;margin:0}
.aside-item .aside-title h2{font-size:17px;color:#FFF;font-weight:600;text-transform:uppercase;background:none}
.aside-item .aside-title h2 a{color:#FFF}
.aside-item .aside-content{margin:0}
.aside-item .aside-content .nav-category>ul.nav>.nav-item>a.nav-link{padding:8.5px 20px 8.5px 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.aside-item .aside-content .nav-category .nav-item{padding:0}
.aside-item .aside-content .nav-category .nav-item a.nav-link{padding:8.5px 0;padding-right:20px;font-size:14px;line-height:24px;border-top:1px #ebebeb solid}
.aside-item .aside-content .nav-category .nav-item .fa{top:11px}
.aside-item .aside-content .nav-category .nav-item .fa.fa-arrow-circle-right{left:0;top:11px;display:none}
.aside-item .aside-content .nav-category .nav-item:hover{color:#000000}
.aside-item .aside-content .nav-category .nav-item:hover>a{color:#000000;background:none}
.aside-filter .field-search{display:inline-table;border:1px #ebebeb solid;margin-top:15px}
.aside-filter .field-search input.form-control{background-color:#FFF;min-height:35px;height:35px;padding:0 15px;border:none!important}
.aside-filter .field-search .btn{border-radius:0;min-height:35px;height:35px;line-height:35px}
.aside-filter .field-search .btn:hover{background:none}
.menu-offcanvas{border-right:1px solid #ebebeb;background-color:#fff}
#nav-mobile .h3{color:#333}
#nav-mobile a{color:#333;border-color:#ebebeb;line-height:30px}
header nav ul.nav-dt .nav-item.active>a{color:#222327!important}
@media (min-width: 992px) {
header nav ul.nav-dt .nav-item.active>a{color:#FFF!important}
}
#nav-mobile .nav-link>.fa{right:0;top:calc(50% - 15px)!important;margin-right:0;line-height:30px}
header nav ul.nav-dt .nav-item:hover>a{background:none!important}
@media (min-width: 992px) {
header nav ul.nav-dt .nav-item:hover>a{color:#FFF!important}
}
@media (min-width: 768px) {
.search-main .form-signup .form-group input.form-control{border-radius:5px 0 0 5px!important}
.search-main .form-signup .form-group button{border-radius:0 5px 5px 0}
}
.main-container .col-main .cart .cart-tbody .item-cart div>div{display:none!important}
.main-container .col-main .cart .cart-tbody .item-cart div .input_qty_pr{display:block!important}
#quickview .selector-wrapper{margin-bottom:15px}
#section-verticalmenu{z-index:52}
.bg-vertical{display:block}
.bg-vertical.fixed{display:block;position:fixed;width:100%;height:100%;top:0;left:0;z-index:51}
@media (max-width: 991px) {
.header-nav .vertical-menu-home{padding:0}
}
@media (max-width: 767px) {
.header-nav .vertical-menu-home{padding:0 15px}
}
.float-vertical .block_content{display:none}
.float-vertical.active-desk .block_content{display:block}
@media (min-width: 1025px) {
.float-vertical.active-desk .block_content{min-height:496px;background-color:#fff}
}
@media (max-width: 1024px) and (min-width: 992px) {
.float-vertical.active-desk .block_content{min-height:405px;background-color:#fff}
}
@media (max-width: 991px) {
.float-vertical.active-desk .block_content{display:none}
}
@media (min-width: 992px) {
.float-vertical.active-desk .float-vertical-button{pointer-events:none}
}
.float-vertical.active .block_content{display:block;position:absolute;width:100%;z-index:99}
@media (max-width: 991px) {
.float-vertical.active .block_content{border:none}
}
@media (max-width: 991px) {
.float-vertical.active.active-desk{display:block}
}
.float-vertical.active.active-desk .block_content{position:static}
@media (max-width: 991px) {
.float-vertical.active.active-desk .block_content{position:relative}
}
.float-vertical.active .verticalMenu-toggle{top:12px;background:transparent}
.float-vertical.active .verticalMenu-toggle:after{display:none}
.float-vertical.active .verticalMenu-toggle:before{font-family:FontAwesome;content:"\f00d";background:transparent}
#section-verticalmenu{position:relative}
#section-verticalmenu .float-vertical-button{cursor:pointer;margin:0;padding:15px;font-size:14px;text-transform:uppercase;background:#222327;color:#fff;font-weight:600;line-height:20px}
@media (max-width: 991px) {
#section-verticalmenu .float-vertical-button{background:#000000}
}
@media (min-width: 768px) and (max-width: 991px) {
#section-verticalmenu .float-vertical-button{padding:15px 0}
}
#section-verticalmenu .float-vertical-button .verticalMenu-text{padding-left:25px}
#verticalmenu .nav-verticalmenu{float:none}
@media (max-width: 991px) {
#verticalmenu .nav-verticalmenu{border-bottom:1px solid #eaeaea}
}
.verticalMenu-toggle,.verticalMenu-toggle:before,.verticalMenu-toggle:after{background:#fff;content:"";display:block;height:2px;position:absolute;-webkit-transform:rotate(0);transform:rotate(0);width:15px}
.verticalMenu-toggle{top:25px}
.verticalMenu-toggle:before{top:4px}
.verticalMenu-toggle:after{bottom:4px}
.vermenu-icon{background-repeat:no-repeat;display:inline-block;width:23px;height:23px;float:left}
#search_suggestion{padding:0 0 10px;color:#555;position:absolute;top:0;z-index:9999;width:100%;min-width:226px;max-width:100%;background-color:#f8f8f8;display:none;box-shadow:5px 10px 20px rgba(0,0,0,0.15)}
@media (max-width: 992px) {
#search_suggestion{width:100%!important}
}
#search_suggestion h3{margin:0;font-size:14px;font-weight:500;background-color:#eee;padding:5px}
#search_suggestion ul{padding:0}
#search_suggestion ul li{background-color:#fff;padding:5px;font-size:14px}
#search_suggestion ul li a{color:#787878;display:block;overflow:hidden}
#search_suggestion ul li .item_image{text-align:center;float:left;width:100px;margin-right:5px}
@media (max-width: 480px) {
#search_suggestion ul li .item_image{width:60px}
}
#search_suggestion ul li .item_image img{max-width:100%}
#search_suggestion ul li .item_detail{overflow:hidden}
@media (max-width: 480px) {
#search_suggestion ul li .item_title{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
}
#search_suggestion ul li .item_title h4{text-transform:none;font-size:13px;font-weight:500;margin-bottom:0;margin-top:0}
@media (max-width: 480px) {
#search_suggestion ul li .item_title h4{font-size:12px;display:initial}
}
#search_suggestion ul li .item_price ins{font-weight:500;text-decoration:none;display:inline-block;margin-right:5px;font-size:13px;color:#d0021b}
@media (max-width: 480px) {
#search_suggestion ul li .item_price ins{font-size:12px}
}
#search_suggestion ul li .item_price del{color:#666;font-size:12px}
@media (max-width: 480px) {
#search_suggestion ul li .item_price del{font-size:11px}
}
#search_top{max-height:400px;overflow-y:auto}
#search_top::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);border-radius:5px;background-color:#F5F5F5}
#search_top::-webkit-scrollbar{width:5px;background-color:#F5F5F5}
#search_top::-webkit-scrollbar-thumb{border-radius:5px;-webkit-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 2px rgba(0,0,0,0.3);background-color:#e5e5e5}
#search_bottom{text-align:center;padding-top:10px}
#search_bottom a{color:#444;text-decoration:underline;font-weight:500}
#search_bottom a span{color:red}
.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item{display:none}
.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item.xemthem{display:block}
.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item.thugon{display:none}
@media (min-width: 992px) {
.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item:nth-child(1),.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item:nth-child(2),.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item:nth-child(3),.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item:nth-child(4),.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item:nth-child(5),.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item:nth-child(6),.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item:nth-child(7),.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item:nth-child(8){display:block!important}
}
@media (min-width: 992px) {
.aside-vetical-menu .aside-content .nav-category .nav-item .fa.fa-angle-down:before{content:"\f105"}
.aside-vetical-menu .aside-content .nav-item>.dropdown-menu{position:absolute;left:calc(100% + 15px);top:0;padding:0;min-width:230px;border-radius:0;box-shadow:0 0 15px -5px rgba(0,0,0,0.4)}
.aside-vetical-menu .aside-content .nav-item>.dropdown-menu:after{position:absolute;content:"";background:none;width:15px;height:50px;top:0;right:100%}
.aside-vetical-menu .aside-content .nav-item>.dropdown-menu a.nav-link{padding:11.5px 15px;padding-right:30px}
.aside-vetical-menu .aside-content .nav-item>.dropdown-menu .nav-item:first-child a.nav-link{border:none}
.aside-vetical-menu .aside-content .nav-item.active>.dropdown-menu,.aside-vetical-menu .aside-content .nav-item:hover>.dropdown-menu{display:block}
.aside-vetical-menu .dropdown-menu>.active>a,.aside-vetical-menu .dropdown-menu>.active>a:focus,.aside-vetical-menu .dropdown-menu>.active>a:hover{color:#000000}
}
@media (max-width: 991px) {
.aside-vetical-menu .aside-content>.nav-category>ul>.nav-item{display:block!important}
.aside-vetical-menu .dropdown-menu>.active>a,.aside-vetical-menu .dropdown-menu>.active>a:focus,.aside-vetical-menu .dropdown-menu>.active>a:hover{color:#333}
}
ul.no-bullets{list-style:none;padding-left:0;margin-bottom:25px}
.scroll_menu{position:fixed;left:20px;top:50%;transform:translateY(-50%);z-index:10;opacity:0;visibility:hidden;transition:opacity .5s ease,visibility .5s ease}
.scroll_menu.visible{opacity:1;visibility:visible}
.scroll_menu ul{margin:0}
.scroll_menu .nav-stacked>li,.scroll_menu .nav-stacked>li+li{margin:0 0 0 -30px;width:54px;transition:all .4s;border:1px solid #e0e0e0;background:#fff}
.scroll_menu .nav-stacked>li+li{border-top-color:transparent}
.scroll_menu li a{width:100%;padding:5px 0 5px 20px;display:block;border-radius:0;position:relative}
.scroll_menu li a img{width:24px}
.scroll_menu li a span{position:absolute;left:105%;white-space:nowrap;padding:0 10px;line-height:26px;height:26px;font-size:11px;text-align:center;visibility:hidden;transition:visibility .3s ease,opacity .5s ease}
.scroll_menu li a span::before{content:'';width:10px;height:10px;display:block;position:absolute;top:8px;left:-5px;transform:rotate(45deg)}
span.scroll_tooltip_1::before{background-color:#222327}
span.scroll_tooltip_2::before{background-color:#D84040}
span.scroll_tooltip_3::before{background-color:#6F993E}
span.scroll_tooltip_4::before{background-color:#8BC34A}
span.scroll_tooltip_5::before{background-color:#607D8B}
span.scroll_tooltip_6::before{background-color:#FFAB40}
span.scroll_tooltip_7::before{background-color:#3F51B5}
span.scroll_tooltip_8::before{background-color:#FF4081}
.scroll_menu .nav li:hover a span{visibility:visible}
.scroll_menu .nav>li>a:hover,.scroll_menu .nav>li>a:focus,.scroll_menu .nav-pills>li.active>a,.scroll_menu .nav-pills>li.active>a:hover,.scroll_menu .nav-pills>li.active>a:focus{background-color:transparent}
.owl-carousel .owl-dots .owl-dot{width:12px;height:20px}
.owl-carousel .owl-dots .owl-dot span{width:12px;height:12px;display:inline-block;border:3px solid #9c9c9c;border-radius:50%}
.owl-carousel .owl-dots .owl-dot.active span{border-color:#FFF;border-width:3px}

